<div id="bu-access">

  <div class="bu-title-bar bu-row">
    <label class="bu-title-label">Accessibility Issue Report Form</label>
  </div>

  <div class="bu-background">

    <div id="bu-access-form">
      <form name="mform" class="bu-col" novalidate>
        <div class="bu-form-items"> 

          <!-- Info Label -->
          <div class="bu-row bu-label-wrap">
            <label class="bu-info-label" name="descerror">
              <b>Please note:</b> This service is for students, faculty, and staff with disabilities. 
              If you do not have a disability and need help, please chat with library staff or send us an email. 
              Students requesting accessible formats must first register with Student Accessibility Services. 
            </label>
          </div>

          <!-- User Type Selection -->
          <div class="bu-usertypes margin-top-medium">
            <label class="bu-label-text" name="descerror">
              <b>Please choose one:</b>
            </label>
            <div>
              <input type="radio" id="bu-usertype-student" name="usertype" value="student" ng-model="$ctrl.usertype.value">
              <label for="student">I am a student registered with Student Accessibility Services.</label>
            </div>
            <div>
              <input type="radio" id="bu-usertype-staff" name="usertype" value="staff" ng-model="$ctrl.usertype.value">
              <label for="staff" >I am faculty or staff and require this resource in an accessible format.</label>
            </div>
          </div>

          <!--Name Label-->
          <div class="bu-row margin-top-medium bu-label-wrap">
            <label class="bu-label-text" name="name">Your Name:</label>
          </div>

          <!--Name Field-->
          <div class="bu-row bu-form-input">
            <input id="fname" class="bu-form-field" autofill="false" name="name" type="text" placeholder="Eg. Jane Doe" aria-label="Enter your name" 
            ng-model="rname" required>

            <!--Invalid Text-->
            <div class="bu-row bu-invalid-flag"
            ng-if="mform.name.$invalid && mform.name.$touched">
              <prm-icon class="bu-special-text-icon" icon-type="svg" svg-icon-set="primo-ui" icon-definition="error"></prm-icon>
              <span class="bu-special-text" ng-if="mform.name.$error.required">name required</span>
            </div>
          </div>

          <!--Email Label-->
          <div class="bu-row margin-top-medium bu-label-wrap">
            <label class="bu-label-text" name="emailerror">Your Email:</label>
          </div>

          <!--Email Field-->
          <div class="bu-row bu-form-input" layout="row">
            <input id="femail" class="bu-form-field" autofill="false" name="email" type="email" placeholder="Eg. aa00bb@brocku.ca" aria-label="Enter your email" 
            ng-model="remail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

            <!--Invalid Text-->
            <div class="bu-row bu-invalid-flag"
            ng-if="mform.email.$invalid && mform.email.$touched">
              <prm-icon class="bu-special-text-icon" icon-type="svg" svg-icon-set="primo-ui" icon-definition="error"></prm-icon>
              <span class="bu-special-text" ng-if="!mform.email.$error.required">invalid email</span>
              <span class="bu-special-text" ng-if="mform.email.$error.required">email required</span>
            </div>
          </div>

          <!--Title Label-->
          <div class="bu-row margin-top-medium bu-label-wrap">
            <label class="bu-label-text" name="title">Resource Title: <a href="{{$ctrl.resourceUrl}}">{{$ctrl.resourceTitle}}</a></label>
          </div>

          <!--Description Label-->
          <div class="bu-row margin-top-medium bu-label-wrap">
            <label class="bu-label-text" name="descerror">How can we help?</label>
          </div>

          <!--Description Field-->
          <div class="bu-row bu-form-input">
            <textarea class="bu-form-field bu-input-extra" name="desc" placeholder="Please provide as much detail as possible to help us understand how we might resolve the problem." 
            aria-label="Describe your problem" ng-model="rdesc" required></textarea>

            <!--Invalid Text-->
            <div class="bu-row bu-invalid-flag"
            ng-if="mform.desc.$invalid && mform.desc.$touched">
              <div class="warning-bg">
                <prm-icon class="bu-special-text-icon" icon-type="svg" svg-icon-set="primo-ui" icon-definition="error"></prm-icon>
              </div>
              <span class="bu-special-text" >description required</span>
            </div>
          
          </div>

        </div>
      </form>
    </div>

    <!-- Submission Succes/Failure Notifications -->
    <div class="bu-col margin-bottom-medium" ng-show="$ctrl.submitFlow">
        
      <!--Submission Success Popup-->
        <div class="bu-row bu-conf-label bu-success-conf" 
        ng-show="$ctrl.submitSuccess">
          <prm-icon class="bu-button-icon" icon-type="svg" svg-icon-set="primo-ui" icon-definition="check"></prm-icon>
          <span class="bu-conf-text">Report Submitted</span>
        </div>

        <!--Submission Fail Popup-->
        <div class="bu-row bu-conf-label bu-fail-conf" 
        ng-hide="$ctrl.submitSuccess">
          <prm-icon class="bu-button-icon" icon-type="svg" svg-icon-set="primo-ui" icon-definition="error"></prm-icon>
          <span class="bu-conf-text">Error  -  Please contact liberm@brocku.ca</span>
        </div>

        <!--Close Button-->
        <button class="bu-button" type="button" aria-label="Close form" 
        ng-click="$ctrl.closeReportForm()">
          <prm-icon class="bu-button-icon" icon-type="svg" svg-icon-set="primo-ui" icon-definition="close"></prm-icon>
          <span class="bu-button-text">close</span>
        </button>
      
      </div>

    <!--Form Buttons-->
    <div class="bu-form-buttons bu-row margin-top-medium" ng-hide="$ctrl.submitFlow">
          
      <!--Submit Button-->
      <button class="bu-button" type="submit" aria-label="Submit report" 
      ng-click="$ctrl.submitReport(mform.$valid, remail, rdesc); mform.email.$setTouched(); mform.desc.$setTouched(); mform.fname">
        <prm-icon class="bu-button-icon" icon-type="svg" svg-icon-set="primo-ui" icon-definition="check"></prm-icon>
        <span class="bu-button-text">submit</span>
      </button>

      <!--Close Button-->
      <button id="bu-cancel-button"  class="bu-button" type="button" aria-label="Close form" 
      ng-click="$ctrl.closeReportForm()">
        <prm-icon class="bu-button-icon" icon-type="svg" svg-icon-set="primo-ui" icon-definition="close"></prm-icon>
        <span class="bu-button-text">cancel</span>
      </button>
    
    </div>

  </div>

</div>